<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla HTML con Bootstrap</title>
    <!-- Agregar la hoja de estilo de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <header class="container mt-3">
        <h1 class="text-center">FORMULARIO DE INSCRIPCION DE ALUMNOS</h1>
        <div class="text-center">
            <a href="http://localhost:8080/" class="btn btn-primary mr-2">INICIO</a> 
            <a href="http://localhost:8080/formularioAlumnos" class="btn btn-primary mr-2">REGISTRO DE ALUMNO</a>
            <button class="btn btn-primary mr-2">REGISTRO DE DOCENTE</button>
            <a href="http://localhost:8080/VistaDeAlumnose" class="btn btn-primary mr-2">DATOS DE ALUMNOS</a>
            <button class="btn btn-primary">DATOS DE PROFESOR</button>
        </div>
    </header>
    
    <div class="container mt-3">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>País</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan</td>
                    <td>25</td>
                    <td>Argentina</td>
                </tr>
                <tr>
                    <td>Maria</td>
                    <td>30</td>
                    <td>España</td>
                </tr>
                <tr>
                    <td>Pedro</td>
                    <td>22</td>
                    <td>México</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
